@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2');
}

/*GENERAL REUSABLE STYLES*/

body{
  font-family: 'Roboto-Regular';
}

.main{
  max-height: 580px;
  height: 100%;
  padding-top: 20px;
}


.prp-button{
  text-align: center;
  color: #0059c1;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 50px;
  border: solid 1px #ab47bc;
  font-weight: bold;
  background-color: #ab47bc;
  color: white;
  letter-spacing: 1px;
  width: 230px;
}

.prp-button:hover{
  border: solid 1px #ce93d8;
  background-color: #ce93d8;
  color: white;
}
 
.prp-button:active{
  border: solid 1px #6a1b9a;
  background-color: #6a1b9a;
  color: white;
}

.disable-btn, .disable-btn:hover, .disable-btn:active{
  border: solid 1px #f0f2f7;
  background-color: #f0f2f7;
}

.machine{
  width: 270px;
  margin: 0px auto;
}

.nav-text-menu{
  padding-top: 20px;
}

.machine-image{
  height: 308px;
  width: 230px;
  background-color: #0059c1;
}

.machine-select-container{
  width: 100%;
  max-width: 804px;
  margin: 0 auto;
}

.machine-container{
  float: left;
  margin: 15px;
  text-align:center;
  color: #939598;
}

.machine-container h2{
  margin: 40px 0px 20px 0px;
  font-size: 25px;
}


#app-banner{
  width: 200px;
  height: 50px;
  background-image: url('../images/banner_logo.png');
  background-repeat: no-repeat;
  background-size: 170px;
  background-position: 15px 15px;
}

#app-version{
  font-size: 10px;
}

.navigation-button{
  width: 130px;
  height: 50px;
  float: left;
  box-shadow: inset 0 1px 1px #ccc;
  padding: 14px 5px;  
}

#main-menu-button{
  width: 120px;
  height: 35px;
  background-image: url('../images/home.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 10px 0px;
  cursor: pointer;
}

#main-menu-button:hover{
   background-image: url('../images/home_hover.png');
}

#main-menu-button:active{
  background-image: url('../images/home_clicked.png');
}

.navigation-button div p{
  padding-left: 45px;
  padding-top: 4px;
}


/* operation step */
.operation-step-container{
  width: 440px;
  margin: 0px auto 0px auto;
}


.operation-step{
  /*background-color: #f0f2f7;*/
  height: 50px;
  width: 50px;
  border-radius: 25px;
  float:left;
  margin: 35px 30px 0px 30px;
  text-align: center;
  padding-top: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #939598;
  /*border: 1px solid #ab47bc;*/
  /*box-shadow: 0px 2px 1px #69686e;*/
}

.os-disable, 
.os-disable:hover, 
.os-disable:active{
  background-color: #97969c;
  box-shadow: 0px 2px 1px #69686e;
}

/*.next-step{
  background-color: #97969c;
  box-shadow: 0px 2px 1px #69686e;
}*/

.dir-arrow{
  margin-top: 6px;
}

.os-no-fx{
  margin: 0px;
}

.operation-label{
  float: left;
  width: 110px;
  font-size: 11px;
  margin-top: 5px;
  text-align: center;
  color: #e4e5e6;
}

.ol-current{
  color: #ab47bc;
}

/*.ol-next{
  color: #97969c;
}
*/
.prev-container{
  display: none;
}

.prev-container div{
  float:left;
}

.next-container div{
  float:right;
}

/*MAIN MENU OPTIONS*/

.machine-menu{
  max-width: 990px;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.menu-section{
  float: left;
  height: 200px;
}

.laser-menu,
.milling-image{
  margin-right: 60px;
}

.laser-image{
  margin-right: 80px;
}

.laser-menu,
.milling-menu{
  width: 195px;
  padding: 50px 0px;
}

.laser-image,
.milling-image{
  width: 200px;
}

.laser-file-preparation,
.milling-file-preparation{
  width: 165px;
  float: right;
}

.laser-file-operation,
.milling-file-operation{
  width: 195px;
  float: right;
}

.milling-operation,
.laser-operation{
  height: 45px;
  border-radius: 23px;
  padding-top: 12px;
  font-size: 14px;
  margin: 8px 0px;
}

.milling-operation{
  float: left;
}

.laser-setting,
.machine-select,
.laser-option{
  height: 550px;
}

.laser-option{
  height: 557px;
}

.laser-option div{
  margin-top: 20px;
}

.laser-option h1{
  margin-left: 14px;
  color: #ab47bc;
  font-size: 50px;
  font-weight: bold;
}

.laser-option p{
  margin-left: 14px;
  color: #939598;
  font-size: 30px;
}

.laser-option .action-pane{
  margin-top: 120px;
}

.milling-option{
   background-image: url('../images/milling_option.png');
}

.main-menu-title{
  text-align: center;
  margin-bottom: 40px;
  color: #6a1b9a;
}


/* laser file preparation page */
.laser-setup{
  height: 554px;
}

.laser-setup h2{
  margin-top: 0px;
}


.laser-setup-buttons-wrapper{
  margin-left: 40px;
}

.current-window{
  float: left;
  margin-left: 10px;
}

.laser-setup-window{
  height: 40px;
  margin-top: 6px;
  background-image: url('../images/laser_icon.png');
  background-position: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  display:none;
}

.laser-setup-window p{
  padding-left: 45px;
  padding-top: 10px;
}

.laser-operate-window{
  height: 40px;
  margin-top: 6px;
  background-image: url('../images/laser_icon.png');
  background-position: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  display:none;
}

.laser-operate-window p{
  padding-left: 45px;
  padding-top: 10px;
}

.laser-params-left-panel-wrapper{
  height: 500px;
  border: solid 1px solid;
  width: 100%;
  text-align: center;
  background-color: #f2f1e6;
  box-shadow: 0px 0px 6px #69686e;
}

.laser-params-left-panel-wrapper button{
  margin: 5px auto;
}

.laser-params-left-panel-wrapper .step-prompt{
  padding: 20px 0px 30px 0px;
}

.laser-params-left-panel{
  width: 100%;
  height: 65px;
  box-shadow: 0px 4px 4px #cccccc;
  background-image: url('../images/laser_icon.png');
  background-position: 25px 23px;
  background-size: 25px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.laser-params-left-panel p{
  padding-top: 25px;
  padding-left: 60px;
}

.speed-power-params{
  padding: 20px;
}

.laser-params-buttons{
  width: 260px;
  margin: 0px auto;
}

.lp-generate-button{
  width: 115px;
} 

.lp-clear-settings{
  width: 105px;
}

#import-gcode-btn,
#clear-cut-en-canvas,
#clear-settings-btn,
#generate-gcode-btn{
  width: 255px;
}

/* laser operate */

.flow-text{
  text-align: center;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.panel-body{
  text-align:center;
  padding: 0;
}

p{
  margin: 0;
}

.main-title{
  text-align: center;
  color: white;
  background-color: green;
}

.main-operation{
  border:1px solid green;
}

.canvas-area{
  padding: 0px;
  background-color: #f2f1e6;
}

.import-buttons{
  margin-bottom: 10px;
}

#device-select{
  width: 100%;
  padding: 0px 10px;
}

.preparation-text-wrapper,
.operation-text-wrapper{
  width: 100%;
  color: #ab47bc;
}

.preparation-text-prev,
.operation-text-prev{
  float:left;
  font-size: 18px;
}

.preparation-text-prev:hover,
.preparation-text-next:hover{
  color:#ce93d8;
  cursor: pointer;
}

.preparation-text-next,
.operation-text-next{
  float:right;
  font-size: 18px;
}

.operation-text-prev,
.operation-text-next{
  cursor:pointer;
}

.laser-file{
  padding-top: 20px;
}

.laser-file-action-step{
  width: 100%;
  height: 65px;
  padding: 0px 40px;
}

.laser-file-action-1,
.laser-file-action-2{
  max-height: 410px;
  height: 100%;
}


.preparation-step-small-wrapper,
.preparation-step-small-wrapper-operate,
.operation-step-small-wrapper,
.operation-step-small-wrapper-operate{
  width: 102px;
  height: 22px;
  margin: 0px auto;
  color: white;
}

.preparation-step-small-wrapper-operate,
.operation-step-small-wrapper-operate{
  width: 152px;
  margin-top: 10px;
}

.preparation-step-small,
.operation-step-small{
  width: 30px;
  height: 30px;
  margin: 30px 10px 10px 10px;
  float: left;
  border-radius: 15px;
  padding-top: 5px;
  text-align: center;
  background-color: #bcbec0;
}

.current-step{
  color: #ab47bc;
  /*background-color: #ab47bc;
  box-shadow: 0px -3px 1px #6a1b9a;*/
}

.operation-step-hover{
  background-color: #ce93d8;
  box-shadow: 0px 2px 1px #69686e;
}

.laser-operate-step-1 button,
.laser-operate-step-2 button,
.laser-operate-step-3 button{
  display: block;
  margin: 10px auto;
}

.laser-operate-step-1 h4,
.laser-operate-step-2 h4,
.laser-operate-step-3 h4{
  text-align: center;
}

.panel-wrapper{
  padding: 10px 0px;
  height: 415px;
  max-height: 415px;
}

.laser-operate-panel{
  background-color: #f2f1e6;
  height: 355px;
  box-shadow: 0px 0px 6px #69686e;
}

.laser-operate{
  width: 100%;
}

.laser-operate h3,
.laser-setup h3{
  color: #ab47bc;
}

.text-center{
  text-align:center;
}

.params-field{
  height: 30px;
}

.params-stroke{
  height: 20px;
  width:20px;
  background-color:black;
  border-radius:8px;
  margin: 5px auto;
}

.speed-power-params{
  overflow-y: scroll;
  height: 200px
}

.lasing-time{
  width:200px;
  font-size:25px;
  background-color: white;
  margin: 0px auto;
  height: 35px;
  padding-top: 1px;
  text-align: center;
  border-radius: 10px;
}

.cut-wrapper{
  text-align: center;
  color: #4caf50;
  font-size: 20px;
  margin-top: 30px;
}

.cut-button{
  height: 120px;
  width: 120px;
  background-color: red;
  margin: 0px auto;
  background-image: url('../images/cut_button_active.png');
  background-size: 120px 120px;
  border-radius: 60px;
}

.cut-button:hover{
  background-image: url('../images/cut_button_hovered.png');
}

.cut-button:active{
  background-image: url('../images/cut_button_clicked.png');
}


.cb-disabled,
.cb-disabled:hover,
.cb-disabled:active{
  background-image: url('../images/cut_button_disabled.png');
}

.stop-button,
.pause-button{
  height: 80px;
  width: 80px;
  background-color: black;
  background-size: 80px 80px;
  border-radius: 40px;
}

.stop-wrapper{
  width: 80px;
  float: right;
  text-align:center;
  color: #dce1ea;
  font-size: 15px;
  margin-top: -15px;
}

.stop-button{
  background-image: url('../images/stop_button_active.png');
}

.stop-button:hover{
  background-image: url('../images/stop_button_hovered.png');
}

.stop-button:active{
  background-image: url('../images/stop_button_clicked.png');
}

.sb-disabled,
.sb-disabled:hover,
.sb-disabled:active{
  background-image: url('../images/stop_button_disabled.png');
}

.pause-wrapper{
  width: 80px;
  float: left;
  text-align:center;
  color: #dce1ea;
  font-size: 15px;
  margin-top: -15px;
}

.pause-button{
  background-image: url('../images/pause_button_active.png');
}

.pause-button:hover{
  background-image: url('../images/pause_button_hovered.png');
}

.pause-button:active{
  background-image: url('../images/pause_button_clicked.png');
}

.pb-disabled,
.pb-disabled:hover,
.pb-disabled:active{
  background-image: url('../images/pause_button_disabled.png');
}

.ps-wrapper{
  width: 250px;
  margin: 0 auto;
}

.footer-breadcrumb{
  padding: 0 60px;
}

#connection-status{
  margin-left: 30%;
}

.status-wrapper{
  margin-top: -20px;
  margin-left: 20px;
  width: 100%;
  max-width: 750px;
  border: 1px solid #bfbeb2;
  padding: 0px 10px;
  color: #bfbeb2;
}

.back-home-btns-wrapper{
  padding-left: 23px;
}

.back-home-btns-wrapper div{
  float: left;
  margin: 0 10px;
  border: 1px solid #ab47bc;
  padding: 5px;
  border-radius: 4px;
  width: 130px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  color: #ab47bc;
}

.back-home-btns-wrapper div:hover{
  background-color: #ce93d8;
  color: white;
}

.back-home-btns-wrapper div:active{
  background-color: #6a1b9a;
  color: white;
}


.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.tooltip button{
  font-weight: normal !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    margin-top: 5px;
    background-color: #69686e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.machine-selected{
  border: 2px solid #6a1b9a;
  border-radius: 20px;
  padding: 10px;
}


